/* Piano */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
body {
    background: #333;
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    aspect-ratio: 16/9;
    background: #000;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    user-select: none;
}
.piano, .top {
    display: flex;
}
.piano {
    justify-content: center;
}
.piano .white {
    width: 60px;
    height: 240px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border: solid 1px;
    border-radius: 6px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
    line-height: 380px;
    cursor: pointer;
}
.piano .black {
    width: 44px;
    height: 140px;
    background: linear-gradient(#333, #000);
    margin-left: -22px;
    margin-right: -22px;
    z-index: 100;
    border-radius: 0 0 6px 6px;
    text-align: center;
    line-height: 240px;
    text-transform: uppercase;
    cursor: pointer;
}
.top {
    justify-content: space-between;
    margin: 2px 8px 16px 8px;
    align-items: baseline;
}
.checkbox {
    appearance: none;
    width: 40px;
    height: 20px;
    background: #333;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-left: 12px;
    margin-bottom: -4px;
    outline: none;
}
.checkbox::before {
    content: '';
    width: 15px;
    height: 15px;
    background: #666;
    position: absolute;
    left: 4px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
}
.checkbox:checked::before {
    background: #fff;
    left: 20px;
}
.showKeys {
    font-size: 1.1rem;
}
.message {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    z-index: 1000;
    color: #fff;
    font-size: 25px;
    display: none;
}
@media (max-width: 640px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 520px) and (orientation: portrait) {
    .message {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 640px) and (max-height: 480px) and (orientation: landscape) {
    body {
        overflow: hidden;
    }
    .container {
        width: 100%;
        margin: 0;
        /* height: 100%; */
    }
    header, footer, .message, .fullscreen {
        display: none;
    }
}
@media (max-height: 300px) {
    .piano .white {
        width: 50px;
        line-height: 300px;
        height: 200px;
    }
    .piano .black {
        width: 34px;
        margin-left: -17px;
        margin-right: -17px;
        line-height: 160px;
        height: 100px;
    }
}

.piano .white:active, .piano .activeWhite {
    background: #ddd;
}
.piano .black:active, .piano .activeBlack {
    background: #333;
}
.dblscreen {
    display: none;
}
